	
                                            <tr>
                                                <td style="width:50px;"><span class="round">hola</span></td>
                                                <td>
                                                    <h6>Sunil Joshi</h6><small class="text-muted">Web Designer</small></td>
                                                <td><!-- <?php echo $valor->nombre; ?> --></td>
                                                <td><span class="label label-light-success">Low</span></td>
                                                <td>$3.9K</td>
                                            </tr>